
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
    min-width: 320px;
}

html,
body,
.wrapper {
  height: 100%;
}

html, 
body,
ul, 
a {
    margin: 0;
    padding: 0;
    color: #333333;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    text-decoration: none;
}

img {
    display: block;
}

ul {
    list-style: none;
    list-style-image: none;
}

h1,
h2 {
  font-size: 48px;
  font-weight: bold;
  margin: 0;
}

h3 {
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
}

h4 {
    font-size: 18px;
}

.row, 
p, h1,
h2,
h3,
h4 {
    margin: 0;
}

.header nav,
.contacts,
.logo,
.col-sm {
    padding: 0;
}

h1 {
    font-weight: 600;
    font-style: normal;
    margin-bottom: 16px;
}

.wrapper {
  display: flex;
  flex-direction: column;
}

.main {
  flex: 1;
}

.header,
.footer {
  flex-shrink: 0;
}

.header {
  background-color: #fff;
  position: relative;
  font-size: 14px;
  overflow: hidden;
  background: url(./img/header-bg.png) repeat;
  margin-bottom: 100px;
}

.header .container {
  position: relative;
  padding: 30px 10px 130px;
}

.header-top {
  margin-bottom: 120px;
  display: flex;
  white-space: nowrap;
  position: relative;
  z-index: 1;
}

.navigation-humb {
    display: none;
}

.header .hero {
    position: relative;
    z-index: 1;    
    max-width: 512px;
}

.logo {
    font-size:24px;
    font-weight: bold;
   /* margin-right: 136px;*/
}

/*
* NAVIGATION
*/

.navigation {
    list-style: none;
    list-style-image: none;
    display: flex;
    justify-content: center;   
}

nav ul>li>a:hover {
    color: #00BF78;
}

.navigation__link {
    font-size: 14px;
    line-height: 17.07px;
    font-weight: 500;
    white-space: nowrap;
}

.navigation__item{
    font-size: 14px;
    padding-bottom: 6px;
}

.navigation__item:not(:last-child) {
    margin-right: 28px;    
}

.navigation__item_active {
    border-bottom: 2px solid #00BF78;    
}

.navigation__item_active .navigation__link {  
    color: #00BF78;
}

.header .contacts {
    text-align: right;
}

.header .contacts .phone {
    font-size: 18px;
    font-weight: 500;
}

.header .contacts .work-time {
    font-size: 11px;
} 

.header .social {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  flex-direction: column;
  z-index: 1;
}

.header .social li {
    margin-bottom: 20px;
    height: 28px;
}

.header p {
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 60px;
    z-index: 2;
}

.btn {
    background: #FB9475;
    border-radius: 24px;
    border: none;
    height: 48px;
    color: #fff;
    font-size: 14px;
    line-height: 14px;
}


.btn_small {
    font-size: 12px;
}

.header .btn {
    width: 203px;
    z-index: 2;
}

.btn:hover {
    background: #fd6f45;
}

.header-girl {
  position: absolute;
  right: 90px;
  bottom: 0;
  max-width: 524px;
  width: 100%;
  z-index: 0;
}

.header-girl:before {
  content: '';
  width: 472px;
  height: 472px;
  background-color: #FB9475;
  display: block;
  border-radius: 50%;
  position: absolute;
  bottom: -110px;
  right: 0;
  z-index: 0;
}

.header-girl img {
  position: relative;
  z-index: 1;
}

.section {
  margin-bottom: 100px;
}

.section_mbot52 {
    margin-bottom: 52px;
}

.section_mbot64 {
    margin-bottom: 64px;
}

.section_grey {
    background: #F8F6F7;
    ;
}

.main h2 {
    margin-bottom: 32px;
}

.about {
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;

}

.about-descr {
  max-width: 568px;
  width: 100%;
  font-size: 16px;
  line-height: 26px;
}

.about-descr p{
    margin-bottom: 16px;
}

.about-descr .short-descr {
    font-size: 20px;
    line-height: 32px; 
}

.about-descr a {   
    font-size: 14px;
    line-height: 17px;
    color: #278AFF;
}

.about-video {
  max-width: 442px;
  width: 100%;  
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(/img/about_video_img.jpg) no-repeat;
  background-size: 442px 310px;
  border-radius: 8px; 
  height: 295px;
  padding-top: 102px;
}

.about-video__play {
    background: url(img/play_video.png) no-repeat top center;
    width: 100%;
    height: 100%;
    color: #fff;
    text-align: center;
    padding: 68px 10px 10px;
}

.advantages p,
.about-descr a  {
    font-size: 14px;
    line-height: 22px;
}

.advantages .advantages__img {
    max-width: 49px;
    width: 100%;
    height: 52px;
    max-height: 100%;
    display: inline-block;
    margin-bottom: 30px;
    overflow: hidden;
}

.advantages h4 {
    margin-bottom: 12px;;
}

.advantages img{    
    display: block;
}

.advantages .col-sm{
  text-align: center;
  padding: 0 46px;
}

h3 {
    margin-bottom: 34px;
}

/*
* POPULAR
*/
.popular {
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
    align-content: flex-start;
}

.pop-item__descr {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 20px;
    margin-bottom: 16px;
}

.pop-item__btn {
    height: 34px;
    padding: 0 20px;
}

.pop-item__img {
    margin-bottom: 20px;
    width: 350px;
    height: 180px;
    border-radius: 8px;
    object-fit: cover;
}

.pop-item__header {
    margin-bottom: 8px;
}

.popular__item {
    margin-bottom: 48px;
    width: min-content;
    min-width: 350px;
}

.popular__item_empty {
    height: 1px;
}

/*
* PRICE
*/

.pricelist__items {
    display: flex;    
    flex-flow: wrap;
    justify-content: space-between;
    align-content: flex-start;
    padding-right: 92px;
}

.price__item {
    max-width: 444px;
    width: 100%;
    margin-bottom: 36px;
}

.price__name {
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;   
    margin-bottom: 8px; 
    white-space: nowrap;
}

.price__addition {
    font-size: 14px;
}

.price__cost {
    font-size: 20px;
    font-weight: 600;
    color: #00BF78;    
    text-align: end;
}

.pricelist__nav {
    margin-bottom: 50px;    
}

.pricelist__nav .navigation {
    justify-content: left;
}

/*
* EMPLOYEES
*/
.main__masters {
    padding: 80px 0 60px;
}

.masters__descr {    
    margin-bottom: 24px;
}

.masters__item {    
    margin-bottom: 20px;    
    max-width: 255px;    
}

.masters__item:not(:last-child) {
    margin-right: 20px;    
}


.master-card__foto {
    margin-bottom: 20px;    
    height: 300px;
    border-radius: 8px;
    text-align: center;    
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    overflow: hidden;
    min-width: 255px;
}

.master-card__img {
    width: 100%;
}

.master-card__foto::before {
    content:'';
    left: 0;
    right: 0;
    top:0;
    bottom: 0;
    position: absolute;
    background: #000;
    opacity: 0;
    transition: 0.3s opacity;
    z-index: 1;
}

.master-card__foto:hover:before {
    opacity: 0.5;   
}

.master-card__foto:after {
    content: 'Записаться к мастеру';
    font-size: 14px;
    font-weight: 500;
    color: #fff; 
    max-width: 120px;
    top:0;
    bottom: 0;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
    opacity: 0;
    transition: 0.3s opacity;
}

.master-card__foto:hover:after {
    opacity: 1;   
}

.master-card__name{
    font-size:18px;
    font-weight: 600;
    margin-bottom: 8px;
}

.master-card__descr {
    margin-bottom: 20px;
    font-size: 14px;
    font-weight: 400;
}

.master-card__experience {
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 400;    
}

/*
* FOOTER
*/

.footer, 
.footer a {
    font-size: 12px;
    white-space: nowrap;
}

.footer .container {
    padding:10px 0;
}

.footer .container .row {
    align-items: center;
}

.footer p{
    margin-bottom: 8px;
}

.footer .navigation {
    justify-content: flex-end;
}

.footer .navigation__link {
    font-size: 12px;
}


/* Medium Devices, Desktops */ 
@media only screen and (max-width: 992px) {     
    .wrapper {
        max-width: 992px;
    }

    .container{
        max-width: 900px;
    }

    .header-girl {
        opacity: 0.5;
    }

    .navigation__item:not(:last-child) {
        margin-right: 10px;
    }

    .pricelist__nav .navigation {
        flex-direction: column;
    }    
      
} 

/* Small Devices, Tablets */ 
@media only screen and (max-width: 768px) {
    .wrapper {
        max-width: 768px;
    }

    .container{
        max-width: 700px;
    }
    
    .header {
        margin-bottom: 50px;
    }    

    .header .container {     
        padding-bottom: 36px;
    }

    .header-top {
        margin-bottom: 50px;
    }

    .header .logo {
        margin-right: 0;
    }

    .header nav .navigation {
        display: none;
    } 
    
    .header-girl {
        display: none;
    }

    .header .hero {
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: center;        
        margin: 0 auto 39px;
        padding: 0;
    }    
    
    h1 {
        width: 100%;
        font-size: 3em;        
        margin: 0 auto;
    }

    .header .btn {
        margin: 0 auto;
    }

    .header .social {
        position: relative;
        transform: none;
        flex-direction: row;
        display: flex;
        justify-content: center;        
    }

    .header .social .social__item:not(:last-child) {
        margin-right: 36px;
    }

     .pricelist__nav .navigation {
        flex-direction: column;
    }

    /*
    * NAVIGATION HUMBURGER
    * example from https://codepen.io/designcouch/pen/Atyop
    */
    .navigation-humb{
        display: flex;
        width: 36px;
        max-width: 36px;
        height: 46px;
        position: relative;
        margin: 4px 8px;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: .5s ease-in-out;
        -moz-transition: .5s ease-in-out;
        -o-transition: .5s ease-in-out;
        transition: .5s ease-in-out;
        cursor: pointer;
      }
      
      .navigation-humb__item {
        display: block;
        position: absolute;
        height: 4px;
        width: 100%;
        background: #a5a5a5;
        border-radius: 4px;
        opacity: 0.9;
        left: 0;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: .25s ease-in-out;
        -moz-transition: .25s ease-in-out;
        -o-transition: .25s ease-in-out;
        transition: .25s ease-in-out;
      }
      
      .navigation-humb span:nth-child(1) {
        top: 0px;
      }
      
      .navigation-humb span:nth-child(2) {
        top: 9px;
      }
      
      .navigation-humb span:nth-child(3) {
        top: 18px;
      }
      
      .navigation-humb.open span:nth-child(1) {
        top: 18px;
        -webkit-transform: rotate(135deg);
        -moz-transform: rotate(135deg);
        -o-transform: rotate(135deg);
        transform: rotate(135deg);
      }
      
      .navigation-humb.open span:nth-child(2) {
        opacity: 0;
        left: -60px;
      }
      
      .navigation-humb.open span:nth-child(3) {
        top: 18px;
        -webkit-transform: rotate(-135deg);
        -moz-transform: rotate(-135deg);
        -o-transform: rotate(-135deg);
        transform: rotate(-135deg);
      }
      
} 

/* Extra Small Devices, Phones */ 
@media only screen and (max-width: 480px) { 
    .wrapper {
        max-width: 480px;
    }

    .container{
        max-width: 400px;
    }

    .header-top {
        justify-content: center;
        margin-bottom: 50px;
    }

    .header nav{
        display: none;
    } 

    .navigation-humb {
        position: absolute;
        left: 10px;
    }

    .header .logo {
        display: block;
        text-align: center;
        padding: 0 56px;
        margin-bottom: 10px;
    }

    .header .navigation {
        display: none;
    } 

    .header .contacts {
        text-align: center;
    }

    h1 {
        font-size: 2.5em;
        width: auto;
        margin-bottom: 10px;
    }
} 

/* Custom, iPhone Retina */ 
@media only screen and (max-width: 320px) { 
    .wrapper {
        max-width: 347px;
    }

    .container{
        max-width: 300px;        
    }

    .header-top {
        justify-content: center;
        margin-bottom: 50px;
    }

    .navigation-humb {
        position: absolute;
        left: 10px;
    }

    .header .logo {
        display: block;
        text-align: center;
    }

    .header .navigation {
        display: none;
    } 

    .header .contacts {
        text-align: center;
    }

    h1 {
        font-size: 2.5em;
        width: auto;
        margin-bottom: 10px;
    }
}
