.signupform{
    padding: 40px 36px;
    background: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
    border-radius: 8px;

    &__title{
        font-size: 18px;
        font-weight: 600;
        margin: 0 0 15px 0;
    }

    &__text {
        margin-bottom: 35px;
        font-size: 14px;
    }

    &__input {
        border: 1px solid #D8D8D8;
        border-radius: 4px;
        padding: 16px;
        margin-bottom: 20px;
        width: 100%;
        color: #A0A0A0;
        font-size: 14px;
    }

    &__input:focus {
        background-color: #F8F6F7;
    }

    &__btn {
        width: 100%;
        margin-bottom: 16px;
    }
    
    
}