.social  {
    li a:hover{
        cursor: pointer;                        
        opacity: 1;
    }

    &__link {
        width: 28px;
        height: 28px;
        display: block;
        position: relative;
        z-index: 1;
    }

    &__link::after {
        content: "";
        position: absolute;
        top:0;
        left:0;
        right: 0;
        bottom: 0;
        z-index: 0;
        opacity: 0;
        transition: all 0.3s;    
    }

    &__link_vk::after {
        background: url(#{$img_path}/vk_2.png)  0px 0px  no-repeat ;  
        background-size: 100%;  
    }
    
    &__link_inst::after {
        background: url(#{$img_path}/inst_1.png) 0px 0px  no-repeat;        
        background-size: 100%;
    }

    &__link_ytube::after {
        background: url(#{$img_path}/you_1.png) 0px 0px  no-repeat;        
        background-size: 100%;
    }

    &__link:hover::after {
        opacity: 1;
    }
}