.brands {        
    text-align: center;
    vertical-align: middle;

    &__text {
        margin-bottom: 40px;
    }

    &__container {
        justify-content: space-between;
        max-width: 920px;
        margin: 0 auto;
        align-items: center;
        padding: 0 15px;
    }

    &__img {
        object-fit: cover;
        opacity: 0.35;
        top:50%;
        min-width: 56px;
    }
}

