.header {
    flex-shrink: 0;
    background-color: #fff;
    position: relative;
    font-size: 14px;
    overflow: hidden;
    background: url(#{$img-path}/header-bg.png) repeat;
    margin-bottom: 100px;

    .container {
        position: relative;
        padding: 30px 10px 130px;
    }

    &-top {
        margin-bottom: 120px;
        display: flex;
        white-space: nowrap;
        position: relative;
        z-index: 1;
    }

    &__nav {
        padding-top: 4px;
    }

    .hero {
        position: relative;
        z-index: 1;
        max-width: 512px;
    }

    &__contacts {
        text-align: right;
        padding: 0;
    }

    &__contacts .phone {
        font-size: 18px;
        font-weight: 500;
    }

    &__contacts .work-time {
        font-size: 11px;
    }    

    .social {
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
        flex-direction: column;
        z-index: 1;
        
        li {
            margin-bottom: 20px;
            height: 28px;
        }        
    }
    
    p {
        font-size: 20px;
        line-height: 24px;
        margin-bottom: 60px;
        z-index: 2;
    }

    .btn {       
        z-index: 2;
    }

    &-girl {
        position: absolute;
        right: 90px;
        bottom: 0;
        max-width: 524px;
        width: 100%;
        z-index: 0;
    }

    &-girl:before {
        content: "";
        width: 472px;
        height: 472px;
        background-color: #fb9475;
        display: block;
        border-radius: 50%;
        position: absolute;
        bottom: -110px;
        right: 0;
        z-index: 0;
    }

    &-girl img {
        position: relative;
        z-index: 1;
    }
}

.navigation-humb {
    display: none;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: #333333;
}

.logo:hover {
    text-decoration: none;
}