.main__works {
    position: relative;

}

.works__carousel {    
    margin: 0 auto;    
    max-width: 1400px;
    padding: 0 20px;
    position: relative;
}

.works__navbtns {
    display: inline-flex;
    position: absolute;
    top: 24px;
    right: 10px;
}

